<!--<footer class="{{ 'fixed' if path == 'home' }} bottom-0 text-center w-full py-4">-->
<footer class="h-18 bottom-0 text-center w-full py-4">
  <div class="mt-4 mb-4 v-screen flex items-center justify-center">
    <a href="https://apps.apple.com/us/app/yearround/id6458589035">
      <img src="/static/img/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg" />
    </a>
  </div>

  <small class="text-gray-500">
    All rights reserved © {{settings.name}} 2023.
    <a href="https://shiftvision.nl/privacy-policy" class="underline" rel="noopener" target="_blank">Privacy policy</a>
    •
    <a href="https://shiftvision.nl/imprint" class="underline" rel="noopener" target="_blank">Imprint</a>
  </small>
</footer>
